@charset "UTF-8";

html {
    font-size: 100;
}
body {
    color: #2b2a27;
}
img {
    max-width: 100%;
}
a {
    color: #2b2a27;
}

#mainvisual img {
    width: 100%;
    height: 110vh;
    object-fit: none;
    object-position: center top;
}

.time-table {
    text-align: center;
    padding: 0 20px;
    margin-bottom: 80px;
}
.time-table .table-title {
    margin-bottom: 20px;
}
.time-table .table-title .img {
    text-align: center;
}

.time-serch {
    text-align: center;
    padding: 0 20px;
    margin-bottom: 80px;
}
.time-serch .btn {
    display: inline-block;
    border: solid 1px #2b2a27;
    font-size: 0.875rem;
    padding: 18px 60px;
    text-decoration: none;
}

#footer {
    font-size: 0.75rem;
    padding: 20px;
    text-align: center;
}
